$color-items: #20639B;

@mixin button-style {
  border-radius: 9px;
  font-size: 22px;
  border: 3px solid #fff;
  background-color: #20639B;
  color: #F6D55C;
  width: 440px;
  margin: 20px 0 0 40px;
}

.controls {
  background-color: $color-items;
  display: flex;
  padding: 5px;
  width: 100%;

  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  &__deleteButton {
    @include button-style;
  }

  &__completeButton {
    @include button-style;
  }
}