$color-items: #20639B;

@mixin small-font {
  font-size: 18px;
}

.filters {
  margin-bottom: 20px;
  border: 3px solid #fff;
  border-radius: 9px;
  padding: 5px;
  background-color: $color-items;
  width: 440px;

  &__header {
    font-size: 22px;
    font-weight: normal;
  }

  &__filter {
    margin: 20px 20px 0 0;
    cursor: pointer;
    &:hover{
      color: #fff;
      transition: all 0.3s ease-in-out;
    }
  }

  @media screen and (max-width: 520px) {
    width: 100%;
      @include small-font;

    &__header {
      @include small-font;
    }

    &__filter {
      @include small-font;
      margin: 10px 10px 0 0 ;
    }
  }
}

.active {
  text-decoration: underline;
}